generic-blank.json
[{"id":"f59d61c4.101ea","type":"uibuilder","z":"8640b402.a51df8","name":"Video Display triggered by source payload","topic":"","url":"generic-blank","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":140,"y":320,"wires":[[],[]]},{"id":"e5965104.95c9c","type":"comment","z":"8640b402.a51df8","name":"User Customised Elements","info":"*** DO THIS FIRST ***\ngeneric-blank:\nThis is the main webpage which the clues are delivered on\n - change name to something short and related to the room like the name of the room\n - web address will then be\n - http://ipaddressofnoderedmachine:1880/roomname\n - e.g. http://192.168.0.15:1880/heist\n - it will create a new folder on the node-red computer in .nodered/uibuilder/roomname\n - **You will then need to copy the files in the generic-blank folder into this new folder**\n\nSet Video:\n - set path to video file to play on the clue screen\n - video paths should have the form ../uibuilder/common/video/nameofvideofile.mp4\n - http:// links to video files are also valid\n\nPicture Clues:\n - set path and short name for picture clues\n - image paths should have the form ../uibuilder/common/images/nameofimage.jpg\n - .png .gif and other file types are also valid\n\nPredefined Clues:\n - set list of short names and full text clues\n\nSetup Gametime:\n - enter the length of the game in minutes here (default is 60)\n\nSet Clue Sound:\n - enter path to sound file to play when picture/text clues are shown\n - path should be ../uibuilder/common/sounds/soundfile.mp3\n - e.g.\n - ../uibuilder/common/sounds/nostramo.mp3","x":150,"y":40,"wires":[],"icon":"node-red/parser-html.svg"},{"id":"b096bf80.257d5","type":"ui_dropdown","z":"8640b402.a51df8","name":"","label":"Set Video","tooltip":"","place":"Set Video","group":"78abca47.824384","order":1,"width":"6","height":"1","passthru":true,"options":[{"label":"bookcase","value":"../uibuilder/common/videos/video.mp4","type":"str"},{"label":"other","value":"http://iandevlin.github.io/mdn/video-player/video/tears-of-steel-battle-clip-medium.mp4","type":"str"},{"label":"gas","value":"../uibuilder/common/videos/video2.mkv","type":"str"},{"label":"","value":"../uibuilder/common/videos/sq-stars.mp4","type":"str"}],"payload":"","topic":"","x":140,"y":120,"wires":[["f1385156.99094"]]},{"id":"f55143d7.59d64","type":"inject","z":"8640b402.a51df8","name":"Setup - Gametime - minutes","topic":"","payload":"60","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":380,"wires":[["df513739.1f8888","2962f65c.fd1bda","45d520c4.e25d6"]]},{"id":"3b8111b7.0cbfbe","type":"ui_dropdown","z":"8640b402.a51df8","name":"","label":"Picture Clues","tooltip":"","place":"Select option","group":"1473a529.b82a3b","order":1,"width":6,"height":1,"passthru":true,"options":[{"label":"lifeline","value":"../uibuilder/common/images/lifeline.png","type":"str"},{"label":"bed","value":"../uibuilder/common/images/bed.jpg","type":"str"},{"label":"poem","value":"../uibuilder/common/images/poem.jpg","type":"str"}],"payload":"","topic":"","x":130,"y":160,"wires":[["e2a04167.be735"]]},{"id":"7137f670.79f388","type":"ui_dropdown","z":"8640b402.a51df8","name":"","label":"Pre-defined Clues","tooltip":"","place":"Select option","group":"e8207617.8719c8","order":1,"width":6,"height":1,"passthru":true,"options":[{"label":"short version here","value":"full clue text goes here","type":"str"},{"label":"second clue","value":"here is a second clue","type":"str"}],"payload":"","topic":"","x":130,"y":240,"wires":[["c60d769f.a8c358"]]},{"id":"9ac401a1.8314f","type":"ui_text","z":"8640b402.a51df8","group":"253e562f.7b3e7a","order":1,"width":6,"height":1,"name":"","label":"Room Name","format":"Generic","layout":"row-left","x":170,"y":80,"wires":[]},{"id":"2962f65c.fd1bda","type":"change","z":"8640b402.a51df8","name":"Set Clue Sound","rules":[{"t":"set","p":"clueSoundFile","pt":"flow","to":"../uibuilder/common/sounds/nostramo.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":440,"wires":[[]]},{"id":"45d520c4.e25d6","type":"change","z":"8640b402.a51df8","name":"Set Background Audio","rules":[{"t":"set","p":"bgAudio","pt":"flow","to":"../uibuilder/common/sounds/MM-bg.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":480,"wires":[[]]},{"id":"1ddef2f8.3b085d","type":"ui_dropdown","z":"8640b402.a51df8","name":"","label":"Sound Clues","tooltip":"","place":"Select option","group":"5ae50dbc.661a74","order":1,"width":6,"height":1,"passthru":true,"options":[{"label":"pop","value":"../uibuilder/common/sounds/pop.wav","type":"str"},{"label":"wolf","value":"../uibuilder/common/sounds/wolf-howl.mp3","type":"str"}],"payload":"","topic":"","x":130,"y":200,"wires":[["2f3a50ff.cb5c7"]]},{"id":"78abca47.824384","type":"ui_group","z":"","name":"Video Clues","tab":"1bcbc1a9.ce9d9e","order":5,"disp":true,"width":"6","collapse":false},{"id":"1473a529.b82a3b","type":"ui_group","z":"","name":"Picture Clues","tab":"1bcbc1a9.ce9d9e","order":6,"disp":true,"width":"6","collapse":false},{"id":"e8207617.8719c8","type":"ui_group","z":"","name":"Text Clues","tab":"1bcbc1a9.ce9d9e","order":3,"disp":true,"width":"6","collapse":false},{"id":"253e562f.7b3e7a","type":"ui_group","z":"","name":"Timer Control","tab":"1bcbc1a9.ce9d9e","order":1,"disp":true,"width":"6","collapse":false},{"id":"5ae50dbc.661a74","type":"ui_group","z":"","name":"Audio","tab":"1bcbc1a9.ce9d9e","disp":true,"width":"6","collapse":false},{"id":"1bcbc1a9.ce9d9e","type":"ui_tab","z":"","name":"Generic","icon":"dashboard","order":12,"disabled":false,"hidden":false}]